.game-board {
  display: flex;
  flex-direction: column;
}

.game-board .answer {
  background-color: #5a5aff;
  border: inset 6px #c6a400;
  padding: 1rem 2rem;
  text-align: center;
  margin: .5rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.game-board button:hover,
.game-board button:active {
  background-color: #3e3eb5;
}

.game-board button:focus {
  border-color: #7c6801;
}
