.answers {
  display: flex;
  flex-direction: column;
}

.answer {
  background-color: #5a5aff;
  border: inset 6px #c6a400;
  padding: 1rem 2rem;
  text-align: center;
  margin: .5rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

.answers button:hover,
.answers button:active {
  background-color: #3e3eb5;
}

.answers button:focus {
  border-color: #7c6801;
}
